<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wegistweg</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="logo">Wegistweg</div>
        <nav>
            <ul>
                <li><a href="products_mostViewed.html">Home</a></li>
                <li><a href="SignUp/index.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main> 
        <h2>Most Viewed Today</h2>

        <ol class="productList productList-mostViewed">
            <li class="productItem" th:each="productContainer : ${products}">
                <a class="productLink" href="product_detail.html" th:href="@{'/product/' + ${productContainer.product.id} }">
                    <span class="productName" th:text="${productContainer.product.name}">Black T-Shirt</span>
                    <span class="productPrice">
                        <span th:text="${productContainer.product.price}">14</span>€</span>
                    <span class="productViews">
                        <span th:text="${productContainer.viewCount}">10</span> views today
                    </span>
                </a>
            </li>
        </ol>

        <a class="buttonLink spaceAbove-large" href="products_all.html">View All Products</a>
        
    </main>

    <footer>
        <div class="container">
            <div class="footer-section">
                <h2>Products</h2>
                <ul>
                    <li><a href="products_all.html">All products</a></li>
                    <li><a href="products_mostViewed.html">Most viewed</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Account</h2>
                <ul>
                    <li><a href="Account/AccountManagement/index.html">My Account</a></li>
                    <li><a href="LogIn/index.html">Login / Register</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Contact</h2>
                <ul>
                    <li><a href="#">faraz@mail</a></li>
                    <li><a href="#">adam@mail</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <p class="copyright">&copy; The Springers 2024</p>
</body>

</html>