body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEBDE; /* Background color */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section img {
    width: 300px;
}

.right-section h2 {
    margin-bottom: 20px;
}

.right-section form {
    margin-bottom: 20px;
}

.right-section label {
    display: block;
    margin-bottom: 5px;
}

.right-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.right-section button {
    background-color: #89A8B2; /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.right-section p {
    margin-bottom: 10px;
}

footer {
    background-color: #1F509A; /* Footer color */
    padding: 40px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer-section h2 {
    margin-bottom: 20px;
    color: #fff; /* Text color in footer */
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #fff; /* Text color in footer */
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #fff; /* Text color in footer links */
}

.app-store img {
    width: 150px;
    margin-right: 20px;
}

.social-media {
    display: flex;
    margin-top: 20px;
}

.social-media li {
    margin-right: 10px;
}

.social-media a {
    color: #fff; /* Text color in social media icons */
}

.copyright {
    text-align: center;
    margin-top: 20px;
    color: #fff; /* Text color in copyright */
}