body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ECEBDE; /* Background color */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 30%;
}

.left-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-section li {
  margin-bottom: 10px;
}

.left-section a {
  text-decoration: none;
  color: #333;
}

.flash-sales {
  margin-top: 20px;
}

.flash-sales h2 {
  margin-bottom: 20px;
}

.flash-sales .product {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.flash-sales .product img {
  width: 100%;
  margin-bottom: 10px;
}

.right-section {
  width: 70%;
}

.banner {
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}

.banner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.account-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.account-section a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  background-color: #89A8B2; /* Button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.flash-sales .product button,
.banner-text a {
  background-color: #89A8B2; /* Button color */
  color: #fff;
}

/* Footer */
footer {
  background-color: #1F509A; /* Footer color */
  padding: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.footer-section h2 {
  margin-bottom: 20px;
  color: #fff; /* Text color in footer */
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff; /* Text color in footer */
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #fff; /* Text color in footer links */
}
