body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ECEBDE; /* Background color */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 40px;
}

.container {
  display: flex;
}

.left-section {
  width: 25%;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.left-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-section li {
  margin-bottom: 10px;
}

.left-section a {
  text-decoration: none;
  color: #333;
}

.right-section {
  width: 75%;
  padding-left: 20px;
}

.right-section h2 {
  margin-bottom: 20px;
}

.right-section form {
  margin-bottom: 20px;
}

.right-section .form-group {
  margin-bottom: 10px;
}

.right-section .form-group label {
  display: block;
  margin-bottom: 5px;
}

.right-section .form-group input {
  width: 100%;
  padding: 10px;
}

/* Buttons */
button {
  background-color: #89A8B2; /* Button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #1F509A; /* Footer color */
  padding: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.footer-section h2 {
  margin-bottom: 20px;
  color: #fff; /* Text color in footer */
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff; /* Text color in footer */
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #fff; /* Text color in footer links */
}

.app-store img {
  width: 150px;
  margin-right: 20px;
}

/* Green color */
.green {
  color: #00712D; /* Green color */
}